@media screen and (max-width: 769px) {
  #second_block{
    display: none;
  }
  #second_block_mobile{
    display: block;
  }
  .second_text{
    height: 100%;
    margin-bottom: 10vw;
  }
  .second_text .image_container{
    width: 80%;
  }
  .second_text .image_container p{
    width: 62%;
    font-size: 7vw;
    bottom: auto;
    left: 5vw;
    top: 32vw;
    line-height: 8.4vw;
  }



  .swiper{
    display: none;
  }
  .second_slider .swiper-mobile{
    display: block;
    text-align: center;
    margin-bottom: 10vw;
  }
  .second_slider .swiper-mobile .swiper-slide{
    position: relative;
  }
  .second_slider .swiper-mobile .swiper-slide p{
    position: absolute;
    font-family: "Formular_Regular";
    font-size: 4.2vw;
    width: 60%;
    left: 20.5vw;
    bottom: 14.8vw;
    line-height: 4.3vw;
  }

  .third_screen .image_container p{
    width: 68%;
    font-size: 7vw;
    top: 32vw;
  }
  #img-card{display: none;}
  #img-card-mobile{display: block;}
}
