html, body{
  overflow-x: hidden;
}
html {
  background-color: #281915;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F4ECE1;
}

::-webkit-scrollbar-thumb {
    background-color: #FC4A27;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 70%;

}
.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

}
.menu a {
  color: #FC4A27;
  font-family: "Formular_Regular";
  text-decoration: none;
  font-size: 1.3vw;
  line-height: 5vw;
}

.firts_screen {
  position: relative;
  height: 50vw;
  width: auto;
}

.first_picture {
    position: absolute;
    display: inline-block;
    height: 52vw;
    width: 34.3vw;
    background-image: url("../img/first_pic_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
}

.content_first {
  background-image: url("../img/Union.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 49vw;
}

.text_first {
  max-width: 100%;
  position: relative;
  padding: 2% 0 4vw 0;
}

.text_first h1:last-child {
  padding-top: 5%;
}

h1 {
  font-family: "Formular_Regular";
  font-size: 4.5vw;
  line-height: 4.6vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  color: #FC4A27;
}

.button_first {
  position: relative;
    width: 15vw;
    display: flex;
    height: 5vw;
    border-radius: 100px;
    border: none;
    font-family: "Formular_Regular";
    font-size: 2.5vw;
    background-color: white;
    color: rgba(40, 25, 21, 1);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(142, 165, 235, 0.1);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding-top: 0.6vw;
    transition: all linear .15s;
    -webkit-transition: all linear .15s;
}
.button_first:hover{
  color: #F4ECE1;
  background-color: #281915;
}
.second_screen {
  position: relative;
  width: auto;
}
.second_text{
  height: 50vw;
  margin-top: 150px;
}
.second_text .image_container{
  width: 90%;
  margin: 0 auto;
  position: relative;
}
#second_block_mobile{
  display: none;
}
.second_text .image_container img{
  width: 100%;
  height: auto;
}
.second_text .image_container p{
  font-family: "Formular_Regular";
  color: rgba(40, 25, 21, 1);
  font-size: 5.5vw;
  position: absolute;
  display: block;
  width: 90%;
  padding-left: 3vw;
  bottom: 5vw;
  text-align: left;
}
.second_slider .swiper-pagination{
  display: none;
}
.second_slider .swiper {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.second_slider .swiper-mobile{
  display: none;
}
.second_slider .swiper .swiper-slide{
  height: 1000px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.second_slider .swiper .swiper-slide p{
  font-family: "Formular_Regular";
  font-size: 1.7vw;
  color: rgba(40, 25, 21, 1);
  position: absolute;
  top: 18.1vw;
  line-height: 1.9vw;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  cursor: grab;
}
.second_slider .swiper .swiper-slide img{
  height: 40vw;
  width: auto;
  display: block;
  margin: 0 auto;
  cursor: grab;
}


.third_screen{
  width: auto;
  background-color: #FC4A27;
  border-radius: 1rem;
}
#img-card-mobile{display: none;}
.third_screen .image_container{
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.third_screen .image_container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.third_screen .image_container p{
  font-family: "Formular_Regular";
  font-size: 5vw;
  color: rgba(40, 25, 21, 1);

  width: 70%;
  position: absolute;
  top: 20.5vw;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transform: rotate(-5deg);
}

.fourth_screen{
  margin-top: 5vw;
  position: relative;
  width: 100%;
  min-height: 60vw;
}
#bg-lines-mobile{
  display: none;
}
.fourth_screen .bg-image-holder img {
  position: absolute;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  top: 4vw;
}
.fourth_screen .card .image_container{
  width: 40vw;
  position: relative;
}
.fourth_screen .card .image_container img{
  width: 100%;
  height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.fourth_screen .card .image_container p{
  font-family: "Formular_Regular";
  font-size: 2.2vw;
  line-height: 3vw;
  color: rgba(40, 25, 21, 1);

  width: 84%;
  position: absolute;
  top: 2.5vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
#card_1{
  position: absolute;
  top: 10vw;
  left: 12vw;
  transform: rotate(-16deg);
}
#card_2{
  position: absolute;
  top: 15vw;
  right: 14vw;
  transform: rotate(2deg);
}
#card_3{
  position: absolute;
  top: 30vw;
  left: 12vw;
  transform: rotate(-4deg);
}
#card_4{
  position: absolute;
  top: 33vw;
  right: 10vw;
  transform: rotate(-10deg);
}
#header_card{
  position: absolute;
  top: 5.5vw;
  right: 23vw;
  transform: rotate(10deg);
}
#fourth-header-mobile{
  display: none;
}
#card_1 .image_container p{
  color: #F4ECE1;
}
#card_2 .image_container p{
  width: 65%;
  top: 3.7vw;
}
#card_3 .image_container p{
  width: 80%;
  top: 2.3vw;
}
#card_4 .image_container p{
  top: 4vw;
}
#header_card .image_container{
  width: 45vw;
}
#header_card .image_container p {
  width: 100%;
  top: 0.8vw;
  font-size: 3.7vw;
}


.fifth_screen{
  padding: 2vw 0;
  background-color: #FC4A27;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  min-height: 50vw;
  position: relative;
}
.fifth_screen button{
  background-color: transparent;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
.fifth_screen .circle{
  display: block;
  margin: 0 auto;
  height: 50vw;
  width: 90vw;

  border-radius: 50%;
  background-color: #F4ECE1;

  line-height: 50vw;

  transition: all linear .25s;
}
.fifth_screen .circle:hover{
  background-color: #291A15;
  color: #F4ECE1;
  cursor: pointer;
}
.fifth_screen .circle p{
  font-family: "Formular_Regular";
  font-size: 12vw;
  display: inline-block;
  vertical-align: middle;
  line-height: 13vw;
  color: #291A15;
}
footer{
  width: 100%;
  height: 2vw;
  line-height: 1vw;
  background-color: #291A15;
  position: relative;
}
footer:before{
  top: -1vw;
  background-color: #291A15;
  border-radius: 1rem 1rem 0 0;
  content: '';
  height: 1.1vw;
  width: 100%;
  position: absolute;
}
footer .social{
  font-family: "Formular_Regular";
  font-size: 1vw;
  float: left;
  margin-left: 1.5vw;
}
footer .social ul li{
  display: inline;
  margin: 2vw 0;
  margin-right: 1.5vw;
}
footer .social ul li a{
  text-decoration: none;
  color: white;
}
footer p{
  font-family: "Formular_Regular";
  font-size: 1vw;
  color: white;
  float: right;
  margin-right: 1.5vw;
}
