html {
  background-color: #281915;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F4ECE1;
}

::-webkit-scrollbar-thumb {
    background-color: #FC4A27;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 70%;

}
.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

}
.menu a {
  color: #FC4A27;
  font-family: "Formular_Regular";
  text-decoration: none;
  font-size: 1.3vw;
  line-height: 5vw;
}

.firts_screen {
  position: relative;
  height: 50vw;
  width: auto;
}

.first_picture {
    position: absolute;
    display: inline-block;
    height: 52vw;
    width: 34.3vw;
    background-image: url("../img/first_pic_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
}

.content_first {
  background-image: url("../img/Union.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 49vw;
}

.text_first {
  max-width: 100%;
  position: relative;
  padding: 2% 0 4vw 0;
}

.text_first h1:last-child {
  padding-top: 5%;
}

h1 {
  font-family: "Formular_Regular";
  font-size: 4.5vw;
  line-height: 4.6vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  color: #FC4A27;
}

.button_first {
  position: relative;
    width: 15vw;
    display: flex;
    height: 5vw;
    border-radius: 100px;
    border: none;
    font-family: "Formular_Regular";
    font-size: 2.5vw;
    background-color: white;
    color: rgba(40, 25, 21, 1);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(142, 165, 235, 0.1);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding-top: 0.6vw;
    transition: all linear .15s;
    -webkit-transition: all linear .15s;
}
.button_first:hover{
  color: #F4ECE1;
  background-color: #281915;
}
.second_screen {
  position: relative;
  width: auto;
}
.second_text{
  height: 50vw;
  margin-top: 150px;
}
.second_text .image_container{
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.second_text .image_container img{
  width: 100%;
  height: auto;
}
.second_text .image_container p{
  font-family: "Formular_Regular";
  color: rgba(40, 25, 21, 1);
  font-size: 5.5vw;
  position: absolute;
  display: block;
  width: 90%;
  padding-left: 3vw;
  bottom: 5vw;
  text-align: left;
}
.second_slider .swiper-pagination{
  display: none;
}
.second_slider .swiper {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.second_slider .swiper .swiper-slide{
  cursor: pointer;
  height: 1000px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.second_slider .swiper .swiper-slide p{
  font-family: "Formular_Regular";
  font-size: 1.7vw;
  color: rgba(40, 25, 21, 1);
  position: absolute;
  top: 34%;
  line-height: 1.85vw;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.second_slider .swiper .swiper-slide img{
  height: 750px;
  width: auto;
  display: block;
  margin: 0 auto;
}


.third_screen{
  width: auto;
  background-color: #FC4A27;
  border-radius: 1rem;
}
.third_screen .image_container{
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.third_screen .image_container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.third_screen .image_container p{
  font-family: "Formular_Regular";
  font-size: 5vw;
  color: rgba(40, 25, 21, 1);

  width: 70%;
  position: absolute;
  top: 33%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transform: rotate(-5deg);
}
