html {
  background-color: #281915;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F4ECE1;
}

::-webkit-scrollbar-thumb {
    background-color: #FC4A27;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 70%;

}
.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

}
.menu a {
  color: #FC4A27;
  font-family: "Formular_Regular";
  text-decoration: none;
  font-size: 1.3vw;
  line-height: 5vw;
}

.firts_screen {
  position: relative;
  height: 50vw;
  width: auto;
}

.first_picture {
    position: absolute;
    display: inline-block;
    height: 52vw;
    width: 34.3vw;
    background-image: url("../img/first_pic_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
}

.content_first {
  background-image: url("../img/Union.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 49vw;
}

.text_first {
  max-width: 100%;
  position: relative;
  padding: 2% 0 4vw 0;
}

.text_first h1:last-child {
  padding-top: 5%;
}

h1 {
  font-family: "Formular_Regular";
  font-size: 4.5vw;
  line-height: 4.6vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  color: #FC4A27;
}

.button_first {
  position: relative;
    width: 15vw;
    display: flex;
    height: 5vw;
    border-radius: 100px;
    border: none;
    font-family: "Formular_Regular";
    font-size: 2.5vw;
    background-color: white;
    color: rgba(40, 25, 21, 1);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(142, 165, 235, 0,1)t;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding-top: 0.6vw;
}

.second_screen {
  position: relative;
  height: 100vh;
  width: auto;
  background-image: url("../img/second_pic.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.second_screen img {
  right: 16%;
  position: absolute;
  top: 23vh;
}

.second_screen h1 {
  font-family: "Formular_Regular";
  font-size: 85px;
  line-height: 86px;
  text-align: left;
  max-width: 61%;
  margin-left: auto;
  margin-right: auto;
  color: #281915;
}

.second_text {
  margin-top: 32vh;
  max-width: 100%;
  position: absolute;
}

.third_screen {
  background-color: #8EA5EB;
  position: relative;
  height: 100vh;
  width: auto;
}

.fourth_screen {
  background-color: #FC4A27;
  position: relative;
  height: 100vh;
  width: auto;
}

.content_fourth {
  background-image: url("../img/fourth_pic_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.content_fourth h1{
  font-family: "Formular_Regular";
  font-size: 85px;
  line-height: 86px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48%;
  color: #291A15;
  transform: rotate(-4.99deg);
  margin-top: 30vh;
}

.fourth_pic_2 {
  width: 20%;
  position: absolute;

}

.fifth_screen {
  position: relative;
  height: 100vh;
  width: auto;
}

.sixth_screen {
  background-color: #FC4A27;
  position: relative;
  height: 100vh;
  width: auto;
}
